<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup theme-color -->
{% include head-custom-theme-colors.html %}

<!-- You can set your favicon here -->
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="manifest" href="/site.webmanifest" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="theme-color" content="#ffffff" />

<style>
    .gravatar {
        border-radius: 50%;
        margin-bottom: 15px;
        margin-top: 15px;
        width: 150px;
        height: 150px;
    }

    .lead {
        font-size: 1.25rem;
        font-weight: 300;
    }

    .social {
        font-size: 2em;
        color: #ccc;
        padding: 8px;
    }

    .social:hover {
        color: #fff;
    }
</style>

<!-- end custom head snippets -->
